* {
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}

.container {
    width: 500px;
}

.s-margin {
    margin: 1%;
}

.s-mar-b {
    margin-bottom: 5%;
}

.text-center {
    text-align: center;
}

input[type=text], select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=submit] {
    color: white;
    background-color: black;
    padding: 3% 10%;
    text-transform: uppercase;
}